<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{>head}}
<body>
  {{>header}}
  <section class="section">
    <div class="container">
      <p>{{ errorMessage }}</p>
    </div>
  </section>
  {{>footer}}
</body>
</html>