<!DOCTYPE html>
<html lang="en" dir="ltr">
{{>head}}

<body>
  {{>header}}
  <section class="section">
    <div class="container">
      <div class="content">
        <h1>About Weather App</h1>
        <p>This is a weather app made usign the <strong>Dark Sky API</strong> & <strong>MapBox API</strong> for
          Geocoding.
        </p>
      </div>
    </div>
  </section>
  {{>footer}}
</body>

</html>